@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Noto+Sans:400,700);
header {
  width: 25%;
  float: left; }
  header h1 {
    margin: 0 10% 10% 0;
    padding: 1em 0 0;
    display: block;
    height: 20em;
    color: #edd43c;
    font-size: 1em; }
    header h1 a {
      padding: 0.5em;
      display: block; }
      header h1 a:link, header h1 a:visited {
        color: #edd43c;
        text-decoration: none; }
    header h1 img {
      max-width: 100%; }
  header nav {
    margin: 0 10% 0 0;
    background: #c9d9bb;
    border-radius: 0.5em;
    font-family: "Roboto Slab", Times, serif; }
    header nav div > ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      header nav div > ul > li {
        border-bottom: solid 1px #ecf0f1; }
        header nav div > ul > li:first-child a {
          border-top-left-radius: 0.5em;
          border-top-right-radius: 0.5em; }
        header nav div > ul > li:last-child a {
          border-bottom-left-radius: 0.5em;
          border-bottom-right-radius: 0.5em; }
        header nav div > ul > li > a {
          padding: 0.6em 1em;
          display: block; }
          header nav div > ul > li > a:link, header nav div > ul > li > a:visited {
            color: #333;
            text-decoration: none; }
          header nav div > ul > li > a:hover, header nav div > ul > li > a:focus {
            background: #afc79b; }
        header nav div > ul > li.current-menu-item > a, header nav div > ul > li.current-menu-ancestor > a {
          background: #55703f;
          color: white; }
        header nav div > ul > li > ul {
          display: none; }
        header nav div > ul > li.current-menu-item > ul, header nav div > ul > li.current-menu-ancestor > ul {
          display: block; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0 2%;
  background: #ecf0f1;
  color: #333333;
  font: 0.9em/1.5 "Noto Sans", Arial, sans-serif; }
  body.admin-bar .banner {
    top: 28px; }

h1, h2, h3 {
  margin: 0;
  padding: 0 0 0.5em;
  font-family: "Roboto Slab", Times, serif; }

ol, ul {
  margin: 0 0 0 2em;
  padding: 0 0 1.5em; }

p {
  margin: 0;
  padding: 0 0 1.5em; }

.wrap {
  margin: 0 auto;
  position: relative;
  max-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20em;
  overflow: hidden;
  background: #303f23 50% 50% no-repeat;
  background-size: cover;
  border-bottom: solid 1em #edd43c;
  z-index: -1; }
  .banner img {
    position: absolute;
    width: 100%; }

.exhibition-pullout {
  position: absolute;
  width: 20%;
  top: 0;
  right: 0;
  background: #fff;
  color: #333333; }

.primary {
  margin-top: 14.5em;
  margin-bottom: 8em;
  padding: 1.5% 2.5%;
  width: 70%;
  float: right;
  background: #ecf0f1;
  border-radius: 1em;
  border-top: solid 1em #edd43c; }
  .primary h1 {
    color: #55703f;
    text-transform: uppercase; }

footer {
  margin: -7em -2% 0;
  padding: 3em 2%;
  clear: both;
  background: #fff;
  color: #999; }
  footer p {
    margin: 0 auto;
    padding: 0;
    max-width: 960px; }
