@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Noto+Sans:400,700);
html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background: white;
  color: #333333;
  font: 0.9em/1.5 "Noto Sans", Arial, sans-serif; }
  body.admin-bar .banner {
    top: 28px; }

a:link, a:visited {
  color: #0033cc; }

a:hover, a:focus {
  color: #cc0000; }

h1, h2, h3 {
  margin: 0;
  padding: 0 0 0.5em;
  font-family: "Roboto Slab", Times, serif; }

img {
  max-width: 100%;
  height: auto; }

ol, ul {
  margin: 0 0 0 2em;
  padding: 0 0 1.5em; }

p {
  margin: 0;
  padding: 0 0 1.5em; }

.clearfix, header nav {
  zoom: 1; }
  .clearfix:before, header nav:before, .clearfix:after, header nav:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, header nav:after {
    clear: both; }

@media only screen and (min-width: 600px) {
  .wrap, header h1, header nav div {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1024px;
    position: relative; } }

header {
  margin: 0 0 40px;
  padding: 15px 0 0;
  position: relative;
  height: 140px;
  background: #55703f;
  border-bottom: solid 10px #edd43c; }
  @media only screen and (min-width: 600px) {
    header {
      margin: 0 0 120px;
      height: 80px; } }
  @media only screen and (min-width: 768px) {
    header {
      margin: 0 0 100px; } }
  header h1 {
    padding-bottom: 0;
    position: relative;
    text-align: center; }
    header h1 a {
      position: relative;
      z-index: 2;
      overflow: hidden; }
      header h1 a img {
        max-height: 170px; }
    @media only screen and (min-width: 600px) {
      header h1 {
        text-align: left; }
        header h1 a {
          width: 18.5%;
          float: left; } }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Roboto Slab", Times, serif; }
    @media only screen and (min-width: 600px) {
      header nav {
        background: red;
        top: 105px;
        width: 100%;
        background: #eeeeee; } }
    header nav a:link, header nav a:visited {
      color: #333333;
      text-decoration: none;
      -moz-border-radius: 0.3em;
      -webkit-border-radius: 0.3em;
      border-radius: 0.3em;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
    header nav li.current-menu-item > a,
    header nav li.current-menu-ancestor > a {
      background: #dddddd;
      color: black; }
    header nav li.current-menu-item > a:hover, header nav li.current-menu-item > a:focus,
    header nav li.current-menu-ancestor > a:hover, header nav li.current-menu-ancestor > a:focus,
    header nav a:hover, header nav a:focus {
      background: #55703f;
      color: white; }
    header nav div > ul {
      margin: 0 2.5% 0 0;
      padding: 0.3em 0;
      position: relative;
      width: 78.5%;
      float: right;
      list-style: none;
      display: none; }
      @media only screen and (min-width: 600px) {
        header nav div > ul {
          display: block; }
          header nav div > ul li {
            padding: 0 0.1em;
            float: left; }
            header nav div > ul li > a {
              padding: 0.5em 0.9em;
              display: block; }
            header nav div > ul li.current-menu-item > ul, header nav div > ul li.current-menu-ancestor > ul {
              display: block; }
          header nav div > ul ul {
            margin: 0;
            padding: 0.3em;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            display: none;
            list-style: none;
            font-size: 0.9em; }
            header nav div > ul ul:before {
              padding: 0.3em 1em;
              content: "↳ ";
              float: left;
              font-weight: bold;
              font-size: 2em;
              line-height: 0.5; }
            header nav div > ul ul li > a {
              padding: 0.3em 0.7em; } }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

@media only screen and (min-width: 768px) {
  body:after {
    content: "medium"; } }
@media only screen and (min-width: 1024px) {
  body:after {
    content: "large"; } }
@media only screen and (min-width: 1024px) {
  body:after {
    content: "vlarge"; } }
