
$body_bg: #fff;

$brand_primary: #55703f;
$brand_secondary: #edd43c;

$brand_primary_text: #fff;
$brand_secondary_text: #000;

$body_text: #333;
$heading_text: $brand_primary;

$links_off: #03c;
$links_on: #c00;