header {

    width: 25%;
    float: left;

    h1 {
        margin: 0 10% 10% 0;
        padding: 1em 0 0;
        display: block;
        height: 20em;
//        background: $brand_primary;
        color: $brand_secondary;
        font-size: 1em;
        
        a {
            padding: 0.5em;
            display: block;
            
            &:link, &:visited {
                color: $brand_secondary;
                text-decoration: none;
            }

        }

        img {
            max-width: 100%;
        }

    }
 
    nav {
        margin: 0 10% 0 0;
        background: lighten($brand_primary, 45%);
        border-radius: 0.5em;
        font-family: $feature_font;

        div > ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        
            & > li {
                border-bottom: solid 1px $body_bg;

                &:first-child a {
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                }

                &:last-child a {
                    border-bottom-left-radius: 0.5em;
                    border-bottom-right-radius: 0.5em;
                }

                & > a {
                    padding: 0.6em 1em;
                    display: block;

                    &:link, &:visited {
                        color: #333;
                        text-decoration: none;
                    }

                    &:hover, &:focus {
                        background: lighten($brand_primary, 35%);
                    }

                }

                &.current-menu-item > a, &.current-menu-ancestor > a {
                    background: $brand_primary;
                    color: $brand_primary_text;
                }

                & > ul {
                    display: none;
                }

                &.current-menu-item > ul, &.current-menu-ancestor > ul {
                    display: block;
                }

            }
        }

    }

}