$header_bg: $brand_primary;
$nav_bg: #eee;
$nav_link: #333;
$nav_on: #ddd;
$nav_on_link: #000;
$nav_over: $brand_primary;
$nav_over_link: #fff;

header {
    margin: 0 0 40px;
    padding: 15px 0 0;
    height: 140px;
    background: $header_bg;
    border-bottom: solid 10px $brand_secondary;

    @include breakpoint($small) {
        margin: 0 0 120px;
        height: 80px;
    }
    
    @include breakpoint($medium) {
        margin: 0 0 100px;
    }
    
    h1 {
        padding-bottom: 0;
        position: relative;
        text-align: center;
        
        a {
            position: relative;
            z-index: 2;
            overflow: hidden;
            
            img {        
                max-height: 170px;
            }
            
        }

        @include breakpoint($small) {
            @extend .wrap;
            text-align: left;
            
            a {
                width: 18.5%;
                float: left; 
            }

        }
        
    }
    
    nav {
        position: absolute;
        top: 0;
        right: 0;
        @extend .clearfix;
        font-family: $feature_font;
        
        @include breakpoint($small) {
            background: red;
            top: 105px;
            width: 100%;
            background: $nav_bg;
        }

        a:link, a:visited {
            color: $nav_link;
            text-decoration: none;
            @include border-radius(0.3em);
        }

        li.current-menu-item > a,
        li.current-menu-ancestor > a {
            background: $nav_on;
            color: $nav_on_link;
        }

        li.current-menu-item > a:hover, li.current-menu-item > a:focus,
        li.current-menu-ancestor > a:hover, li.current-menu-ancestor > a:focus,
        a:hover, a:focus {
            background: $nav_over;
            color: $nav_over_link;
        }

        div {
            @extend .wrap;

            & > ul { 
                margin: 0 2.5% 0 0;
                padding: 0.3em 0;
                position: relative;
                width: 78.5%;
                float: right;
                list-style: none;
                display: none;

                @include breakpoint($small) {
                    display: block;

                    li {
                        padding: 0 0.1em;
                        float: left;

                        & > a {
                            padding: 0.5em 0.9em;
                            display: block;
                        }

                        &.current-menu-item > ul,
                        &.current-menu-ancestor > ul {
                            display: block;
                        }

                    }

                    ul {
                        margin: 0;
                        padding: 0.3em;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        display: none;
                        list-style: none;
                        font-size: 0.9em;
                        
                        &:before {
                            padding: 0.3em 1em;
                            content: "→ ";
                            float: left;
                            font-weight: bold;
                        }
                        
                        li > a {
                            padding: 0.3em 0.7em;
                        }

                    }

                }

            }
            
        }
        
    }
    
}