$header_bg: $brand_primary;
$nav_bg: #ddd;

header {
    margin: 0 0 40px;
    padding: 15px 0 0;
    height: 140px;
    background: $header_bg;
    border-bottom: solid 10px $brand_secondary;

    @include breakpoint($small) {
        margin: 0 0 80px;
        height: 100px;
    }
    
    h1 {
        padding-bottom: 0;
        position: relative;
        text-align: center;
        
        a {
            position: relative;
            z-index: 2;
            overflow: hidden;
            
            img {        
                max-height: 170px;
            }
            
        }

        @include breakpoint($small) {
            @extend .wrap;
            text-align: left;
            
            a {
                width: 18.5%;
                float: left; 
            }

        }
        
    }
    
    nav {
        position: absolute;
        top: 0;
        right: 0;
        @extend .clearfix;
        
        @include breakpoint($small) {
            background: red;
            top: 125px;
            width: 100%;
            background: $nav_bg;
        }

        div {
            @extend .wrap;

            & > ul { 
                margin: 0 2.5% 0 0;
                padding: 0;
                width: 78.5%;
                float: right;
                list-style: none;
                display: none;

                @include breakpoint($small) {
                    display: block;

                    & > li {
                        float: left;

                        & > a {
                            padding: 1em;
                            display: block;
                        }

                    }

                }

                ul {
                    display: none;
                }

            }
            
        }
        
    }
    
}